@model IEnumerable<string>

@{
    ViewData["Title"] = "Index";
}

<h1>Databases</h1>

<p>
    <a asp-action="Create">Add New DB</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Database
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                    @Html.ActionLink("Tables", "Index", "Table", new { dbName = item }) |
                    @Html.ActionLink("Delete", "Delete", new { Name = item })
            </td>
        </tr>
}
    </tbody>
</table>

